body {
    text-align: center;
    color: red;
    background-color:  black;
}




nome {
    text-align: center;
}

button {
    background-color: red;
    text-align: center;
}

p {
    text-align: center;
}